.wrapper {
    background: rgb(221, 218, 218);
    background-image: url('https://raw.githubusercontent.com/radhikabgupta/ReadMeInfoProj2/master/assets/wallpaper_01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }